.board {
  height: 100vh;
  padding: $base-padding * 1.5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.board-header {
  @extend %header-card;
  flex-shrink: 0;
  height: 4rem;
  padding: 0 1rem;
  margin-bottom: $base-padding;
  font-size: 2rem;
  font-weight: 600;

  .buttons {
    display: inline-flex;
  }
}

.columns-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  // overflow-y: hidden;
}