button {
  border-radius: 99px;
  height: 1.75rem;
  min-width: 1.75rem;
  font-size: 1.1rem;
  margin-right: .25rem;
  cursor: pointer;
  transition: .2s;

  &:last-child {
    margin-right: 0;
  }

  &.add-btn {
    color: #20914f;
  }

  &.delete-btn {
    color: #c0392b;
  }

  &.edit-btn {
    color: #2980b9;
    opacity: 0;
  }
}

