button {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 99px;
  height: 1.75rem;
  min-width: 1.75rem;
  font-size: 1.1rem;
  margin-right: .25rem;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.add-card-btn,
  &,.add-column-btn {
    color: #20914f;
  }

  &.delete-btn {
    color: #c0392b;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .15);
  }


}

