.column {
  min-width: 17rem;
  width: 20rem;
  margin: $base-padding * .25;
  border-radius: $card-border-radius;
  background-color: rgba(0, 0, 0, .05);
  display: flex;
  flex-direction: column;
}

.column-header {
  @extend %header-card;
  height: 2.5rem;
  padding: .75rem;
  font-size: 1.25rem;
  z-index: 1;

 .buttons {
    display: inline-flex;
  }
}

.column-name {
  .edit-btn {
    opacity: 0;
  }

  &:hover {
    .edit-btn {
      opacity: 1;
    }
  }
}

.cards-container {
  min-height: 10rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}