$base-padding: 1rem;
$card-border-radius: .25rem;
$base-box-shadow: 0 .25rem .75rem rgba(125, 125, 125, 0.7);

// Colors
$font-color: #2d3436;
$header-color: #dfe6e9;

%card {
  border-radius: $card-border-radius;
  box-shadow: $base-box-shadow;
}

%header-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

%header-card {
  @extend %card;
  @extend %header-layout;
  background-color: $header-color;
  border-radius: $card-border-radius;
  box-shadow: $base-box-shadow;
  font-weight: 600;
}